.container{
    
    padding: 10px;
    float:left;
    border:solid 2px black;
    border-radius: 17px;
    width:44%;
    height:300pt;
    margin: 5px;
    text-align: justify;
    overflow: auto;

   

    
}  

body {
    
    font-family: 'PT Serif', serif;
    font-size: 14px;
    margin: 20px;
    padding: 20px;
    background-color: whitesmoke;
    box-sizing: border-box;
}

img{
    margin-left: 30%;
    max-width: 200px;
    max-height: 200px;
}
#myBooks {
    text-align: center;
    width: 100%;

    .title {
    width: 100%;
    border: 1px gray solid;
    background-color: rgb(207, 212, 216);
    box-shadow: 9px 9px 11px gray;
    }

    hr {
    margin-top: 20px;
    }  

button {
    background-color: rgb(45, 146, 129);
    color: rgb(238, 226, 226);
    font-size: 1.2rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-right: 0.8rem;
    padding-left: 0.8rem;
    }
    #newBook {
        display: none;
        text-align: left;
        width: 100%;
        margin: auto;

       

        label {
            width: 100%;
            margin-top: 20px;
            display: inline-block;
            text-align: left;

            input {
                display: block;
                flex-direction: row;
                width: 100%;
            }

            
        } 

        #search {
            color:white;
            border: lime;
            margin-top: 20px;
            width: 150px;
            height: 40px;
            font-size: 15px;
        }

        #cancel {
            color:white;
            border: lime;
            font-size: 15px;
            width: 150px;
            height: 40px;
            display: inline-block;
            margin-top: 20px;
            background-color: rgb(219, 61, 61);
        }

        
    }
   
}


#result {
    justify-content: center;
    display: none;
   
    }
    #box {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        
        
        
       
    }

    #rcherche {
        
        text-align: center;
        font-size: 20px;
        font-weight: bold;
    }
#container{
    
    background: blue;
}

#bmark{
    float: right;
    font-size: 30px;
    color: rgb(45, 146, 129)
}

    .fa-bookmark:hover{
          color: rgb(25, 112, 3);  
          } 

    #kmark.pointer{
      cursor: pointer;
    }

   
    
    #bmarkpl{
        float: right;
        font-size: 30px;
        color: rgb(45, 146, 129)
        
   
    }


#pocheListe{
    display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        
}


        h2{
            text-align: center;
        }

@media   (max-width: 850px){
    .container {
        width: 100%;
        font-size: 15px;
    }
}
    


@media screen and  (max-width: 650px){
    input{
        height: 30px;
    }

}

@media screen and  (max-width: 650px){
    label{
     font-size: 20px;
    }

}

@media screen and  (max-width: 650px){
    #search{
    margin-left: 30%;
    }

}

@media screen and  (max-width: 650px){
    #cancel{
        margin-left: 30%;
    }

}