body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.6;
    margin: 20px;
    padding: 20px;
    background-color: #E2E5E0;
}

* {
    box-sizing: border-box;
}

* #myBooks {
    text-align: center;
    width: 100%;
}

.title {
    border: 0.05rem solid;
    background-color: rgb(207, 212, 216);
}

hr {
    margin-top: 20px;
}

button {
    background-color: rgb(45, 146, 129);
    color: rgb(238, 226, 226);
    font-size: 1.2rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-right: 0.8rem;
    padding-left: 0.8rem;
}

input {
    display: inline-block;
    width: 100%;
}

label {
    margin-top: 20px;

    display: inline-block;
    text-align: left;
}

#newBook {
    display: none;
    text-align: left;
    width: 100%;
}

#search {
    margin-top: 20px;
    width: 20%;
    font-size: 15px;
}

#cancel {
    font-size: 15px;
    width: 20%;
    display: inline-block;
    margin-top: 20px;
    background-color: rgb(219, 61, 61);

}